In [1]:
import pandas as pd
import numpy as np
from tools import *

# 2. Cleaning Data

## 2.1 Data formatting (excute it only once)

In [2]:
def formatting(file_names_v, columns_to_clean):
		# iterate on each file 
	for file_name in file_names_v:
		df = pd.read_csv(file_name)
		##
		#df['Guests nb'] = df['Guests nb'].astype(str).str.extractall('(\d+)').astype(int).groupby(level=0).max()
		# in the column "NbReviews","Price" euro,"Population","land_area","migrants", "Yearly Change", "net_change", "urban_pop" and "world_share" remove the % sign if it exists and convert it to float (the , is not replaced by . )
	# 259,600.
		for col in columns_to_clean:
			df[col] = df[col].replace('N.A.', np.nan)
			df[col] = df[col].astype(str).str.replace('[%,€]', '', regex=True).astype(float)
		# save the changes in the same file
		df.to_csv(file_name, index=False)

In [12]:
columns_to_clean = list(set(columns_room)-set(columns_hotel+['Room Type']))
display(columns_to_clean)
formatting(files_names,columns_to_clean)

['Price', 'Cancellation', 'Breakfast', 'Guests nb']

In [13]:
columns_to_clean = list(set(columns_hotel)-set(columns_country))
display(columns_to_clean)

['Value_for_money_rating',
 'McMeal at McDonalds (or Equivalent Combo Meal)',
 'Domestic Beer (0.5 liter bottle)',
 'Water (1.5 liter bottle)',
 'Water (0.33 liter bottle)',
 'Apartment (3 bedrooms) Outside of Centre',
 'Meal, Inexpensive Restaurant',
 'Taxi 1km (Normal Tariff)',
 'City',
 'Lettuce (1 head)',
 'NbReviews',
 'Facilities_rating',
 'Comfort_rating',
 'Apartment (1 bedroom) Outside of Centre',
 'Cigarettes 20 Pack (Marlboro)',
 'Milk (regular), (1 liter)',
 'Score',
 'Price per Square Meter to Buy Apartment in City Centre',
 'Distance from center',
 'Domestic Beer (0.5 liter draught)',
 'Mobile Phone Monthly Plan with Calls and 10GB+ Data',
 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)',
 'Potato (1kg)',
 'Location_rating',
 'Meal for 2 People, Mid-range Restaurant, Three-course',
 'Name',
 'Location',
 'Apples (1kg)',
 'Cappuccino (regular)',
 'Gasoline (1 liter)',
 '1 Pair of Men Leather Business Shoes',
 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
 'Chicken Fillets (1kg)',
 'Bottle of Wine (Mid-Range)',
 '1 Summer Dress in a Chain Store (Zara, H&M, ...)',
 '1 Pair of Jeans (Levis 501 Or Similar)',
 'Eggs (regular) (12)',
 'Cleanliness_rating',
 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
 'Apartment (1 bedroom) in City Centre',
 'Tomato (1kg)',
 'Taxi 1hour Waiting (Normal Tariff)',
 'Staff_rating',
 'Imported Beer (0.33 liter bottle)_y',
 'Local Cheese (1kg)',
 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
 'Loaf of Fresh White Bread (500g)',
 'Url link',
 'Stars',
 'Coke/Pepsi (0.33 liter bottle)',
 '1 Pair of Nike Running Shoes (Mid-Range)',
 'Apartment (3 bedrooms) in City Centre',
 'Imported Beer (0.33 liter bottle)_x',
 'Oranges (1kg)',
 'Price per Square Meter to Buy Apartment Outside of Centre',
 'International Primary School, Yearly for 1 Child',
 'Tennis Court Rent (1 Hour on Weekend)',
 'Cinema, International Release, 1 Seat',
 'Onion (1kg)',
 'Taxi Start (Normal Tariff)',
 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
 'Fitness Club, Monthly Fee for 1 Adult',
 'Monthly Pass (Regular Price)',
 'One-way Ticket (Local Transport)',
 'Average Monthly Net Salary (After Tax)',
 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
 'Rice (white), (1kg)',
 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)',
 'Banana (1kg)']

In [38]:
formatting(files_links_names[0:5], ['NbReviews'])

In [39]:
formatting(files_links_names[5:10], ['NbReviews'])

In [40]:
formatting(files_links_names[10:], ['NbReviews'])

In [8]:
def formatting_cities(cities_file, columns_to_clean):
	df = pd.read_csv(cities_file)
	for col in columns_to_clean:
		df[col] = df[col].replace('N.A.', np.nan)
		df[col] = df[col].astype(str).str.replace('[%,€]', '', regex=True).astype(float)
	df.to_csv(cities_file, index=False)

In [9]:
formatting_cities("data/cities.csv",["land_area","Population", "migrants", "Yearly Change", "net_change", "urban_pop", "world_share"])

## 2.2 Make the year column (tourism.csv) integer and remove the last column in the file then join with data (excute it only once)

In [ ]:
# in tourism.csv make the year column integer and remove the last column in the file
df = pd.read_csv("data/tourism.csv")
df['Tourism_year'] = df['Tourism_year'].astype(int)
df = df.drop(columns=['shareOfVisits'])
df.to_csv("data/tourism.csv", index=False)

In [27]:
def tourism_join(files_names):
	tourism = pd.read_csv("data/tourism.csv")
	for file_name in files_names:
		df = pd.read_csv(file_name)
		# add a column "tourism" by doing the left join between the df and the tourism.csv file on the colum "Country"
		df = pd.merge(df, tourism, on="Country", how="left")
		#save the new df in the same file
		df.to_csv(file_name, index=False)

In [28]:
tourism_join(files_names[0:5])

In [29]:
tourism_join(files_names[5:10])

In [30]:
tourism_join(files_names[10:])

## 2.3 Correct the distance from center value

In [16]:
def correct_distance_columns(file_names):
	for file_name in file_names:
		df = pd.read_csv(file_name)
		#if distance is >30 and if it's int, devide it by 1000
		df['Distance from center'] = df['Distance from center'].apply(lambda x: round(x/1000, ndigits=1) if x > 30 else x)
		df.drop(columns=['Region Number', 'Continent Number'], inplace=True)
		# save the changes in the same file
		df.to_csv(file_name, index=False)

In [17]:
correct_distance_columns(files_links_names)

,Unnamed: 0,Name,City,Country,Region,Continent,Location,Rating,Score,NbReviews,Distance from center,Stars,Url link,Staff_rating,Facilities_rating,Cleanliness_rating,Comfort_rating,Value_for_money_rating,Location_rating
47,47,Landmark Mbezi Beach Resort,Dar es Salaam,Tanzania,Eastern Africa,Africa,"Kunduchi, Dar es Salaam",Review score,6.8,865,15.6,4,https://www.booking.com/hotel/tz/landmark-mbez...,7.6,7.0,7.5,7.5,7.4,8.3
61,61,Palm villa,Harare,Zimbabwe,Eastern Africa,Africa,Harare,Good,7.7,106,15.5,0,https://www.booking.com/hotel/zw/palm-villa.ht...,8.7,8.2,8.7,8.6,8.3,8.7
44,44,Karen Gables,Nairobi,Kenya,Eastern Africa,Africa,Nairobi,Wonderful,9.3,104,14.4,0,https://www.booking.com/hotel/ke/karen-gables....,9.6,9.3,9.4,9.4,8.7,9.5
45,45,Kozi Suites Nairobi Airport,Nairobi,Kenya,Eastern Africa,Africa,Nairobi,Good,7.8,"3,046",13.2,4,https://www.booking.com/hotel/ke/kozi-suites.h...,8.7,8.0,8.4,8.4,8.7,7.8
26,26,Gletwyn Boutique Guesthouse,Harare,Zimbabwe,Eastern Africa,Africa,Harare,Very Good,8.2,45,12.9,4,https://www.booking.com/hotel/zw/gletwyn-bouti...,8.7,8.6,8.6,8.7,8.3,8.1

## 2.4 Remove null/none and duplicated values

In [ ]:
import pandas as pd

df = generate_global_df()
display(df)
df.to_csv("data/global.csv", index=False)

In [5]:
print("The variables that have non values:", list(df.columns[df.isnull().any()]))
#display the variables that have non values:
# output: ['urban_pop']
print("The countries that have non values in urban_pop:" ,list(df[df['urban_pop'].isnull()]['Country'].unique()))
#display the countries that have non values in urban_pop:
# output: ['urban_pop']

The variables that have non values: ['urban_pop']
The countries that have non values in urban_pop: ['Singapore']

In [6]:
df = pd.read_csv("data/hotels_South-Eastern Asia.csv")
df.loc[df['Country'] == 'Singapore', 'urban_pop'] = 100
df.to_csv("data/hotels_South-Eastern Asia.csv", index=False)

In [7]:
print("Count of lines that are duplicated: ",df.loc[df.duplicated(subset=df.columns)])

Count of lines that are duplicated:  Empty DataFrame
Columns: [Name, Description, City, Country, Region, Continent, Region Number_x, Continent Number_x, Location, Rating, Score, NbReviews, Url link, Room Type, Guests nb, Price, Staff_rating, Facilities_rating, Cleanliness_rating, Comfort_rating, Value_for_money_rating, Location_rating, Breakfast, Cancellation, Region Number_y, Continent Number_y, Price per Square Meter to Buy Apartment Outside of Centre, Price per Square Meter to Buy Apartment in City Centre, International Primary School, Yearly for 1 Child, Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child, 1 Pair of Jeans (Levis 501 Or Similar), 1 Pair of Men Leather Business Shoes, 1 Pair of Nike Running Shoes (Mid-Range), 1 Summer Dress in a Chain Store (Zara, H&M, ...), Apples (1kg), Banana (1kg), Beef Round (1kg) (or Equivalent Back Leg Red Meat), Bottle of Wine (Mid-Range), Chicken Fillets (1kg), Cigarettes 20 Pack (Marlboro), Domestic Beer (0.5 liter bottle), Eggs (regular) (12), Imported Beer (0.33 liter bottle)_x, Lettuce (1 head), Loaf of Fresh White Bread (500g), Local Cheese (1kg), Milk (regular), (1 liter), Onion (1kg), Oranges (1kg), Potato (1kg), Rice (white), (1kg), Tomato (1kg), Water (1.5 liter bottle), Apartment (1 bedroom) Outside of Centre, Apartment (1 bedroom) in City Centre, Apartment (3 bedrooms) Outside of Centre, Apartment (3 bedrooms) in City Centre, Cappuccino (regular), Coke/Pepsi (0.33 liter bottle), Domestic Beer (0.5 liter draught), Imported Beer (0.33 liter bottle)_y, McMeal at McDonalds (or Equivalent Combo Meal), Meal for 2 People, Mid-range Restaurant, Three-course, Meal, Inexpensive Restaurant, Water (0.33 liter bottle), Average Monthly Net Salary (After Tax), Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate, Cinema, International Release, 1 Seat, Fitness Club, Monthly Fee for 1 Adult, Tennis Court Rent (1 Hour on Weekend), Gasoline (1 liter), Monthly Pass (Regular Price), One-way Ticket (Local Transport), Taxi 1hour Waiting (Normal Tariff), Taxi 1km (Normal Tariff), Taxi Start (Normal Tariff), Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car), Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car), Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment, Internet (60 Mbps or More, Unlimited Data, Cable/ADSL), Mobile Phone Monthly Plan with Calls and 10GB+ Data, Population, Yearly Change, net_change, density, land_area, migrants, fert_rate, med_age, urban_pop, world_share, Tourism, Tourism_year]
Index: []

[0 rows x 93 columns]

In [8]:
for file_name in files_names:
	region = pd.read_csv(file_name)
	region.drop_duplicates(inplace=True)
	region.to_csv(file_name, index=False)

In [66]:
print("Lines that are duplicated: ",df.loc[df.duplicated(subset=df.columns)])

Lines that are duplicated:  Empty DataFrame
Columns: [Name, Description, City, Country, Region, Continent, Region Number_x, Continent Number_x, Location, Rating, Score, NbReviews, Url link, Room Type, Guests nb, Price, Staff_rating, Facilities_rating, Cleanliness_rating, Comfort_rating, Value_for_money_rating, Location_rating, Breakfast, Cancellation, Region Number_y, Continent Number_y, Price per Square Meter to Buy Apartment Outside of Centre, Price per Square Meter to Buy Apartment in City Centre, International Primary School, Yearly for 1 Child, Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child, 1 Pair of Jeans (Levis 501 Or Similar), 1 Pair of Men Leather Business Shoes, 1 Pair of Nike Running Shoes (Mid-Range), 1 Summer Dress in a Chain Store (Zara, H&M, ...), Apples (1kg), Banana (1kg), Beef Round (1kg) (or Equivalent Back Leg Red Meat), Bottle of Wine (Mid-Range), Chicken Fillets (1kg), Cigarettes 20 Pack (Marlboro), Domestic Beer (0.5 liter bottle), Eggs (regular) (12), Imported Beer (0.33 liter bottle)_x, Lettuce (1 head), Loaf of Fresh White Bread (500g), Local Cheese (1kg), Milk (regular), (1 liter), Onion (1kg), Oranges (1kg), Potato (1kg), Rice (white), (1kg), Tomato (1kg), Water (1.5 liter bottle), Apartment (1 bedroom) Outside of Centre, Apartment (1 bedroom) in City Centre, Apartment (3 bedrooms) Outside of Centre, Apartment (3 bedrooms) in City Centre, Cappuccino (regular), Coke/Pepsi (0.33 liter bottle), Domestic Beer (0.5 liter draught), Imported Beer (0.33 liter bottle)_y, McMeal at McDonalds (or Equivalent Combo Meal), Meal for 2 People, Mid-range Restaurant, Three-course, Meal, Inexpensive Restaurant, Water (0.33 liter bottle), Average Monthly Net Salary (After Tax), Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate, Cinema, International Release, 1 Seat, Fitness Club, Monthly Fee for 1 Adult, Tennis Court Rent (1 Hour on Weekend), Gasoline (1 liter), Monthly Pass (Regular Price), One-way Ticket (Local Transport), Taxi 1hour Waiting (Normal Tariff), Taxi 1km (Normal Tariff), Taxi Start (Normal Tariff), Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car), Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car), Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment, Internet (60 Mbps or More, Unlimited Data, Cable/ADSL), Mobile Phone Monthly Plan with Calls and 10GB+ Data, Population, Yearly Change, net_change, density, land_area, migrants, fert_rate, med_age, urban_pop, world_share, Tourism, Tourism_year]
Index: []

[0 rows x 93 columns]

## 2.5 Create and clean worldcities.csv

In [ ]:
cities = pd.read_csv('../data/worldcities.csv')

print(cities.columns)

In [ ]:
cities.drop(columns=['iso2', 'iso3','country', 'admin_name', 'id'],inplace=True)

In [ ]:
# change a column name
cities.rename(columns={'population': 'City_Population'}, inplace=True)
cities.rename(columns={'lat': 'City_lat'}, inplace=True)
cities.rename(columns={'lng': 'City_lng'}, inplace=True) 
cities.rename(columns={'capital': 'Capital_Type'}, inplace=True)

In [ ]:
cities['Capital_Type'].fillna('Not a Capital', inplace=True)

In [ ]:
cities.to_csv('../data/worldcities.csv', index=False)

## 2.6 merge the file worldcities with cities

In [1]:
import pandas as pd
df_cities =pd.read_csv("data/cities.csv")
df_worldcities = pd.read_csv("data/worldcities.csv")

# merge the cities.csv with the columns of worldcities.csv on the columns "City" and "city_ascii"
df_cities = pd.merge(df_cities, df_worldcities, left_on=["City"],right_on=["city_ascii"], how="left")

In [2]:
df_cities.head()

,City,Country,Region,Continent,Region Number,Continent Number,Price per Square Meter to Buy Apartment Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,"International Primary School, Yearly for 1 Child","Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",...,urban_pop,world_share,Tourism,Tourism_year,city,city_ascii,City_lat,City_lng,Capital_Type,City_Population
0,Harare,Zimbabwe,Eastern Africa,Africa,14,2,NaN,1290.35,6802.31,261.54,...,37.0,0.21,639000,2020,Harare,Harare,-17.8292,31.0522,primary,2150000.0
1,Dar es Salaam,Tanzania,Eastern Africa,Africa,14,2,NaN,NaN,NaN,NaN,...,38.0,0.84,1527000,2019,Dar es Salaam,Dar es Salaam,-6.8161,39.2803,admin,7962000.0
2,Addis Ababa,Ethiopia,Eastern Africa,Africa,14,2,1487.80,2078.02,NaN,78.09,...,22.0,1.57,518000,2020,Addis Ababa,Addis Ababa,9.0300,38.7400,primary,3041002.0
3,Nairobi,Kenya,Eastern Africa,Africa,14,2,687.37,1175.44,6966.34,150.28,...,31.0,0.68,2049000,2019,Nairobi,Nairobi,-1.2864,36.8172,primary,5545000.0
4,Marrakech,Morocco,Northern Africa,Africa,15,2,NaN,NaN,NaN,NaN,...,66.0,0.47,2802000,2020,Marrakech,Marrakech,31.6300,-8.0089,admin,966987.0

In [4]:
df_cities.drop(columns=['city_ascii',"city"], inplace=True)
print(df_cities.columns)

Index(['City', 'Country', 'Region', 'Continent', 'Region Number',
       'Continent Number',
       'Price per Square Meter to Buy Apartment Outside of Centre',
       'Price per Square Meter to Buy Apartment in City Centre',
       'International Primary School, Yearly for 1 Child',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child',
       '1 Pair of Jeans (Levis 501 Or Similar)',
       '1 Pair of Men Leather Business Shoes',
       '1 Pair of Nike Running Shoes (Mid-Range)',
       '1 Summer Dress in a Chain Store (Zara, H&M, ...)', 'Apples (1kg)',
       'Banana (1kg)', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)',
       'Bottle of Wine (Mid-Range)', 'Chicken Fillets (1kg)',
       'Cigarettes 20 Pack (Marlboro)', 'Domestic Beer (0.5 liter bottle)',
       'Eggs (regular) (12)', 'Imported Beer (0.33 liter bottle)_x',
       'Lettuce (1 head)', 'Loaf of Fresh White Bread (500g)',
       'Local Cheese (1kg)', 'Milk (regular), (1 liter)', 'Onion (1kg)',
       'Oranges (1kg)', 'Potato (1kg)', 'Rice (white), (1kg)', 'Tomato (1kg)',
       'Water (1.5 liter bottle)', 'Apartment (1 bedroom) Outside of Centre',
       'Apartment (1 bedroom) in City Centre',
       'Apartment (3 bedrooms) Outside of Centre',
       'Apartment (3 bedrooms) in City Centre', 'Cappuccino (regular)',
       'Coke/Pepsi (0.33 liter bottle)', 'Domestic Beer (0.5 liter draught)',
       'Imported Beer (0.33 liter bottle)_y',
       'McMeal at McDonalds (or Equivalent Combo Meal)',
       'Meal for 2 People, Mid-range Restaurant, Three-course',
       'Meal, Inexpensive Restaurant', 'Water (0.33 liter bottle)',
       'Average Monthly Net Salary (After Tax)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'Cinema, International Release, 1 Seat',
       'Fitness Club, Monthly Fee for 1 Adult',
       'Tennis Court Rent (1 Hour on Weekend)', 'Gasoline (1 liter)',
       'Monthly Pass (Regular Price)', 'One-way Ticket (Local Transport)',
       'Taxi 1hour Waiting (Normal Tariff)', 'Taxi 1km (Normal Tariff)',
       'Taxi Start (Normal Tariff)',
       'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)',
       'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)',
       'Mobile Phone Monthly Plan with Calls and 10GB+ Data', 'Population',
       'Yearly Change', 'net_change', 'density', 'land_area', 'migrants',
       'fert_rate', 'med_age', 'urban_pop', 'world_share', 'Tourism',
       'Tourism_year', 'City_lat', 'City_lng', 'Capital_Type',
       'City_Population'],
      dtype='object')

In [ ]:
df_cities.to_csv("data/cities.csv", index=False)