In [2]:
%pip install -q lxml

import bs4
import lxml
import pandas
import urllib
import pandas as pd

from urllib import request

Note: you may need to restart the kernel to use updated packages.

In [3]:
jo = "https://fr.wikipedia.org/wiki/Jeux_olympiques"

request_text = request.urlopen(jo).read()
print(request_text[:1000])
page = bs4.BeautifulSoup(request_text, "lxml")
print(page.find("title").text)

b'<!DOCTYPE html>\n<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-0 vector-feature-client-preferences-disabled vector-feature-client-prefs-pinned-disabled vector-feature-night-mode-disabled skin-night-mode-clientpref-0 vector-toc-available" lang="fr" dir="ltr">\n<head>\n<meta charset="UTF-8">\n<title>Jeux olympiques \xe2\x80\x94 Wikip\xc3\xa9dia</title>\n<script>(function(){var className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled ve'
Jeux olympiques — Wikipédia

In [4]:
mytable = page.find("table", class_ = "wikitable center")
body = mytable.find("tbody")
rows = body.find_all("tr")
#print(rows)
headers_with_th = rows[0].find_all("th")
headers=[cell.text.strip() for cell in headers_with_th]
#print(headers)
prv_year = "none"
prv_oly = "none"
data = []
for row in rows[1:]:
    line_with_td = row.find_all("td")
    line = [l.text.strip() for l in line_with_td]
    if len(line) == 5:
        prv_year = line[0]
        prv_oly = line[1]
        data.append(line)
    if len(line) == 3:
        if(line[0].isdigit()): # cas de lieu a determiner
            line +=[line[2],line[2]]
            data.append(line)
        else: #case of 2 rows collapsed
            liste1 = [prv_year,prv_oly ] + line
            data.append(liste1)
            
df = pandas.DataFrame(data, columns=headers)
display(df)

,Année,Olympiade(Nº de l’olympiade[NB 1]),Ville hôte,Pays,Continent
0,1896,I,Athènes (1),Grèce (1),Europe (1)
1,1900,II,Paris (1),France (1),Europe (2)
2,1904,III,Saint-Louis (1),États-Unis (1),Amérique du Nord (1)
3,1906,• (Intercalaires[NB 2]),Athènes (2),Grèce (2),Europe
4,1908,IV,Londres (1),Royaume-Uni (1),Europe (3)
5,1912,V,Stockholm (1),Suède (1),Europe (4)
6,1916,VI (annulés[NB 3]),Berlin,Allemagne,Europe
7,1920,VII,Anvers (1),Belgique (1),Europe (5)
8,1924,VIII,Paris (2),France (2),Europe (6)
9,1928,IX,Amsterdam (1),Pays-Bas (1),Europe (7)
10,1932,X,Los Angeles (1),États-Unis (2),Amérique du Nord (2)
11,1936,XI,Berlin (1),Allemagne (1),Europe (8)
12,1940,XII (annulés[NB 4]),Tokyo,Japon,Asie
13,1940,XII (annulés[NB 4]),Helsinki,Finlande,Europe
14,1944,XIII (annulés[NB 4]),Londres,Royaume-Uni,Europe
15,1948,XIV,Londres (2),Royaume-Uni (2),Europe (9)
16,1952,XV,Helsinki (1),Finlande (1),Europe (10)
17,1956,XVI,Melbourne (1),Australie (1),Océanie (1)
18,1960,XVII,Rome (1),Italie (1),Europe (11)
19,1964,XVIII,Tokyo (1),Japon (1),Asie (1)
20,1968,XIX,Mexico (1),Mexique (1),Amérique du Nord (3)
21,1972,XX,Munich (1),Allemagne de l'Ouest (2),Europe (12)
22,1976,XXI,Montréal (1),Canada (1),Amérique du Nord (4)
23,1980,XXII,Moscou (1),Union soviétique (1),Europe (13)
24,1984,XXIII,Los Angeles (2),États-Unis (3),Amérique du Nord (5)
25,1988,XXIV,Séoul (1),Corée du Sud (1),Asie (2)
26,1992,XXV,Barcelone (1),Espagne (1),Europe (14)
27,1996,XXVI,Atlanta (1),États-Unis (4),Amérique du Nord (6)
28,2000,XXVII,Sydney (1),Australie (2),Océanie (2)
29,2004,XXVIII,Athènes (3),Grèce (3),Europe (15)
30,2008,XXIX,Pékin (1),Chine (1),Asie (3)
31,2012,XXX,Londres (3),Royaume-Uni (3),Europe (16)
32,2016,XXXI,Rio de Janeiro (1),Brésil (1),Amérique du Sud (1)
33,2021,XXXII[NB 5],Tokyo (2),Japon (2),Asie (4)
34,2024,XXXIII,Paris (3),France (3),Europe (17)
35,2028,XXXIV,Los Angeles (3),États-Unis (5),Amérique du Nord (7)
36,2032,XXXV,Brisbane (1),Australie (3),Océanie (3)
37,2036,XXXVI,Lieu à déterminer,Lieu à déterminer,Lieu à déterminer

In [5]:
mytable = page.find('table', class_= "wikitable center")
tbody = mytable.find('tbody')
rows = tbody.find_all('tr')
header_ = rows[0]

header = [cell.text.strip() for cell in header_ if cell.text.strip()!='']
innerlist = []
data = []
mytable = page.find("table", class_ = "wikitable center")
body = mytable.find("tbody")
rows = body.find_all("tr")
#print(rows)
headers_with_th = rows[0].find_all("th")
headers=[cell.text.strip() for cell in headers_with_th]
#print(headers)
prv_year = "none"
prv_oly = "none"
data = []
for row in rows[1:]:
    line_with_td = row.find_all("td")
    line = [l.text.strip() for l in line_with_td]
    if len(line) == 5:
        prv_year = line[0]
        prv_oly = line[1]
        data.append(line)
    if len(line) == 3:
        if(line[0].isdigit()): # cas de lieu a determiner
            line +=[line[2],line[2]]
            data.append(line)
        else: #case of 2 rows collapsed
            liste1 = [prv_year,prv_oly ] + line
            data.append(liste1)
            
df = pandas.DataFrame(data, columns=headers)
display(df)
for row in rows[1:]:
    tds = row.find_all('td')
    if len(tds)>=5  : # le cas général : year, oly, one location 
        if innerlist != []:
            data.append(innerlist)
        innerlist = []
        innerlist = [tds[0].text.strip(), tds[1].text.strip(), [[tds[2].text.strip(), tds[3].text.strip(), tds[4].text.strip()]]]
        year = tds[0].text.strip()
    elif not tds[0].text.strip().isdigit(): # le cas où on a plusieurs locations
        annee_p , oly_p, location = innerlist
        new_location = [tds[0].text.strip(), tds[1].text.strip(), tds[2].text.strip()] # ville, pays, continent
        location += [new_location]
        innerlist = [annee_p, oly_p, location]
        year = annee_p
    else: # year, oly, lieu à determiner
        if innerlist != []:
            data.append(innerlist)
        innerlist = []
        innerlist = [tds[0].text.strip(), tds[1].text.strip(), [[tds[2].text.strip()]]]
        year = tds[0].text.strip()
        
if innerlist != []:
    data.append(innerlist) 
        
display(data)
print(len(data))

,Année,Olympiade(Nº de l’olympiade[NB 1]),Ville hôte,Pays,Continent
0,1896,I,Athènes (1),Grèce (1),Europe (1)
1,1900,II,Paris (1),France (1),Europe (2)
2,1904,III,Saint-Louis (1),États-Unis (1),Amérique du Nord (1)
3,1906,• (Intercalaires[NB 2]),Athènes (2),Grèce (2),Europe
4,1908,IV,Londres (1),Royaume-Uni (1),Europe (3)
5,1912,V,Stockholm (1),Suède (1),Europe (4)
6,1916,VI (annulés[NB 3]),Berlin,Allemagne,Europe
7,1920,VII,Anvers (1),Belgique (1),Europe (5)
8,1924,VIII,Paris (2),France (2),Europe (6)
9,1928,IX,Amsterdam (1),Pays-Bas (1),Europe (7)
10,1932,X,Los Angeles (1),États-Unis (2),Amérique du Nord (2)
11,1936,XI,Berlin (1),Allemagne (1),Europe (8)
12,1940,XII (annulés[NB 4]),Tokyo,Japon,Asie
13,1940,XII (annulés[NB 4]),Helsinki,Finlande,Europe
14,1944,XIII (annulés[NB 4]),Londres,Royaume-Uni,Europe
15,1948,XIV,Londres (2),Royaume-Uni (2),Europe (9)
16,1952,XV,Helsinki (1),Finlande (1),Europe (10)
17,1956,XVI,Melbourne (1),Australie (1),Océanie (1)
18,1960,XVII,Rome (1),Italie (1),Europe (11)
19,1964,XVIII,Tokyo (1),Japon (1),Asie (1)
20,1968,XIX,Mexico (1),Mexique (1),Amérique du Nord (3)
21,1972,XX,Munich (1),Allemagne de l'Ouest (2),Europe (12)
22,1976,XXI,Montréal (1),Canada (1),Amérique du Nord (4)
23,1980,XXII,Moscou (1),Union soviétique (1),Europe (13)
24,1984,XXIII,Los Angeles (2),États-Unis (3),Amérique du Nord (5)
25,1988,XXIV,Séoul (1),Corée du Sud (1),Asie (2)
26,1992,XXV,Barcelone (1),Espagne (1),Europe (14)
27,1996,XXVI,Atlanta (1),États-Unis (4),Amérique du Nord (6)
28,2000,XXVII,Sydney (1),Australie (2),Océanie (2)
29,2004,XXVIII,Athènes (3),Grèce (3),Europe (15)
30,2008,XXIX,Pékin (1),Chine (1),Asie (3)
31,2012,XXX,Londres (3),Royaume-Uni (3),Europe (16)
32,2016,XXXI,Rio de Janeiro (1),Brésil (1),Amérique du Sud (1)
33,2021,XXXII[NB 5],Tokyo (2),Japon (2),Asie (4)
34,2024,XXXIII,Paris (3),France (3),Europe (17)
35,2028,XXXIV,Los Angeles (3),États-Unis (5),Amérique du Nord (7)
36,2032,XXXV,Brisbane (1),Australie (3),Océanie (3)
37,2036,XXXVI,Lieu à déterminer,Lieu à déterminer,Lieu à déterminer

[['1896', 'I', 'Athènes (1)', 'Grèce (1)', 'Europe (1)'],
 ['1900', 'II', 'Paris (1)', 'France (1)', 'Europe (2)'],
 ['1904', 'III', 'Saint-Louis (1)', 'États-Unis (1)', 'Amérique du Nord (1)'],
 ['1906', '• (Intercalaires[NB 2])', 'Athènes (2)', 'Grèce (2)', 'Europe'],
 ['1908', 'IV', 'Londres (1)', 'Royaume-Uni (1)', 'Europe (3)'],
 ['1912', 'V', 'Stockholm (1)', 'Suède (1)', 'Europe (4)'],
 ['1916', 'VI (annulés[NB 3])', 'Berlin', 'Allemagne', 'Europe'],
 ['1920', 'VII', 'Anvers (1)', 'Belgique (1)', 'Europe (5)'],
 ['1924', 'VIII', 'Paris (2)', 'France (2)', 'Europe (6)'],
 ['1928', 'IX', 'Amsterdam (1)', 'Pays-Bas (1)', 'Europe (7)'],
 ['1932', 'X', 'Los Angeles (1)', 'États-Unis (2)', 'Amérique du Nord (2)'],
 ['1936', 'XI', 'Berlin (1)', 'Allemagne (1)', 'Europe (8)'],
 ['1940', 'XII (annulés[NB 4])', 'Tokyo', 'Japon', 'Asie'],
 ['1940', 'XII (annulés[NB 4])', 'Helsinki', 'Finlande', 'Europe'],
 ['1944', 'XIII (annulés[NB 4])', 'Londres', 'Royaume-Uni', 'Europe'],
 ['1948', 'XIV', 'Londres (2)', 'Royaume-Uni (2)', 'Europe (9)'],
 ['1952', 'XV', 'Helsinki (1)', 'Finlande (1)', 'Europe (10)'],
 ['1956', 'XVI', 'Melbourne (1)', 'Australie (1)', 'Océanie (1)'],
 ['1960', 'XVII', 'Rome (1)', 'Italie (1)', 'Europe (11)'],
 ['1964', 'XVIII', 'Tokyo (1)', 'Japon (1)', 'Asie (1)'],
 ['1968', 'XIX', 'Mexico (1)', 'Mexique (1)', 'Amérique du Nord (3)'],
 ['1972', 'XX', 'Munich (1)', "Allemagne de l'Ouest (2)", 'Europe (12)'],
 ['1976', 'XXI', 'Montréal (1)', 'Canada (1)', 'Amérique du Nord (4)'],
 ['1980', 'XXII', 'Moscou (1)', 'Union soviétique (1)', 'Europe (13)'],
 ['1984',
  'XXIII',
  'Los Angeles (2)',
  'États-Unis (3)',
  'Amérique du Nord (5)'],
 ['1988', 'XXIV', 'Séoul (1)', 'Corée du Sud (1)', 'Asie (2)'],
 ['1992', 'XXV', 'Barcelone (1)', 'Espagne (1)', 'Europe (14)'],
 ['1996', 'XXVI', 'Atlanta (1)', 'États-Unis (4)', 'Amérique du Nord (6)'],
 ['2000', 'XXVII', 'Sydney (1)', 'Australie (2)', 'Océanie (2)'],
 ['2004', 'XXVIII', 'Athènes (3)', 'Grèce (3)', 'Europe (15)'],
 ['2008', 'XXIX', 'Pékin (1)', 'Chine (1)', 'Asie (3)'],
 ['2012', 'XXX', 'Londres (3)', 'Royaume-Uni (3)', 'Europe (16)'],
 ['2016', 'XXXI', 'Rio de Janeiro (1)', 'Brésil (1)', 'Amérique du Sud (1)'],
 ['2021', 'XXXII[NB 5]', 'Tokyo (2)', 'Japon (2)', 'Asie (4)'],
 ['2024', 'XXXIII', 'Paris  (3)', 'France (3)', 'Europe (17)'],
 ['2028',
  'XXXIV',
  'Los Angeles (3)',
  'États-Unis (5)',
  'Amérique du Nord (7)'],
 ['2032', 'XXXV', 'Brisbane (1)', 'Australie (3)', 'Océanie (3)'],
 ['2036',
  'XXXVI',
  'Lieu à déterminer',
  'Lieu à déterminer',
  'Lieu à déterminer'],
 ['1896', 'I', [['Athènes (1)', 'Grèce (1)', 'Europe (1)']]],
 ['1900', 'II', [['Paris (1)', 'France (1)', 'Europe (2)']]],
 ['1904',
  'III',
  [['Saint-Louis (1)', 'États-Unis (1)', 'Amérique du Nord (1)']]],
 ['1906', '• (Intercalaires[NB 2])', [['Athènes (2)', 'Grèce (2)', 'Europe']]],
 ['1908', 'IV', [['Londres (1)', 'Royaume-Uni (1)', 'Europe (3)']]],
 ['1912', 'V', [['Stockholm (1)', 'Suède (1)', 'Europe (4)']]],
 ['1916', 'VI (annulés[NB 3])', [['Berlin', 'Allemagne', 'Europe']]],
 ['1920', 'VII', [['Anvers (1)', 'Belgique (1)', 'Europe (5)']]],
 ['1924', 'VIII', [['Paris (2)', 'France (2)', 'Europe (6)']]],
 ['1928', 'IX', [['Amsterdam (1)', 'Pays-Bas (1)', 'Europe (7)']]],
 ['1932',
  'X',
  [['Los Angeles (1)', 'États-Unis (2)', 'Amérique du Nord (2)']]],
 ['1936', 'XI', [['Berlin (1)', 'Allemagne (1)', 'Europe (8)']]],
 ['1940',
  'XII (annulés[NB 4])',
  [['Tokyo', 'Japon', 'Asie'], ['Helsinki', 'Finlande', 'Europe']]],
 ['1944', 'XIII (annulés[NB 4])', [['Londres', 'Royaume-Uni', 'Europe']]],
 ['1948', 'XIV', [['Londres (2)', 'Royaume-Uni (2)', 'Europe (9)']]],
 ['1952', 'XV', [['Helsinki (1)', 'Finlande (1)', 'Europe (10)']]],
 ['1956', 'XVI', [['Melbourne (1)', 'Australie (1)', 'Océanie (1)']]],
 ['1960', 'XVII', [['Rome (1)', 'Italie (1)', 'Europe (11)']]],
 ['1964', 'XVIII', [['Tokyo (1)', 'Japon (1)', 'Asie (1)']]],
 ['1968', 'XIX', [['Mexico (1)', 'Mexique (1)', 'Amérique du Nord (3)']]],
 ['1972', 'XX', [['Munich (1)', "Allemagne de l'Ouest (2)", 'Europe (12)']]],
 ['1976', 'XXI', [['Montréal (1)', 'Canada (1)', 'Amérique du Nord (4)']]],
 ['1980', 'XXII', [['Moscou (1)', 'Union soviétique (1)', 'Europe (13)']]],
 ['1984',
  'XXIII',
  [['Los Angeles (2)', 'États-Unis (3)', 'Amérique du Nord (5)']]],
 ['1988', 'XXIV', [['Séoul (1)', 'Corée du Sud (1)', 'Asie (2)']]],
 ['1992', 'XXV', [['Barcelone (1)', 'Espagne (1)', 'Europe (14)']]],
 ['1996', 'XXVI', [['Atlanta (1)', 'États-Unis (4)', 'Amérique du Nord (6)']]],
 ['2000', 'XXVII', [['Sydney (1)', 'Australie (2)', 'Océanie (2)']]],
 ['2004', 'XXVIII', [['Athènes (3)', 'Grèce (3)', 'Europe (15)']]],
 ['2008', 'XXIX', [['Pékin (1)', 'Chine (1)', 'Asie (3)']]],
 ['2012', 'XXX', [['Londres (3)', 'Royaume-Uni (3)', 'Europe (16)']]],
 ['2016',
  'XXXI',
  [['Rio de Janeiro (1)', 'Brésil (1)', 'Amérique du Sud (1)']]],
 ['2021', 'XXXII[NB 5]', [['Tokyo (2)', 'Japon (2)', 'Asie (4)']]],
 ['2024', 'XXXIII', [['Paris  (3)', 'France (3)', 'Europe (17)']]],
 ['2028',
  'XXXIV',
  [['Los Angeles (3)', 'États-Unis (5)', 'Amérique du Nord (7)']]],
 ['2032', 'XXXV', [['Brisbane (1)', 'Australie (3)', 'Océanie (3)']]],
 ['2036', 'XXXVI', [['Lieu à déterminer']]]]

75

In [6]:
import pandas as pd

final_data = []
for d in data:
    liste=[]
    liste.append(d[0])
    liste.append(d[1])
    if len(d[2][0]) == 1:
        liste.append(d[2][0][0])
        final_data.append(liste)
    else:
        for loc in d[2]:
            liste2=liste.copy()
            for a in loc:
                liste2.append(a)
            final_data.append(liste2)
            


df = pd.DataFrame(final_data,columns=header)
df

,Année,Olympiade(Nº de l’olympiade[NB 1]),Ville hôte,Pays,Continent
0,1896,I,A,None,None
1,1900,II,P,None,None
2,1904,III,S,None,None
3,1906,• (Intercalaires[NB 2]),A,None,None
4,1908,IV,L,None,None
...,...,...,...,...,...
71,2021,XXXII[NB 5],Tokyo (2),Japon (2),Asie (4)
72,2024,XXXIII,Paris (3),France (3),Europe (17)
73,2028,XXXIV,Los Angeles (3),États-Unis (5),Amérique du Nord (7)
74,2032,XXXV,Brisbane (1),Australie (3),Océanie (3)
75,2036,XXXVI,Lieu à déterminer,None,None

EXO 2

In [7]:
import re

urls = []
indice = 0
page = bs4.BeautifulSoup(request.urlopen(jo).read(), "lxml")
set_cities = set([re.sub('\(\d\)',' ', row[2]).strip() for row in final_data[0:-1]])
for city in set_cities:
    a = page.find('a', attrs={"title": re.compile(city+'.*')})
    href = a['href']
    urls.append(href)

In [8]:
from urllib.parse import urljoin

N = len(urls)
base_url = "https://fr.wikipedia.org"
while indice < N:
    url = urls[indice]
    absolute_url = urljoin(base_url, url)
    page = bs4.BeautifulSoup(request.urlopen(absolute_url).read(), "lxml")
    coordinates = page.find('span', id='coordinates')
    if coordinates:
        a = coordinates.find('a')
        if a:
            coord = a.text
            print(coord)
        else:
            print("No 'a' element found within coordinates.")
    else:
        print("No coordinates span found on the page.")
    indice += 1

35° 41′ 22″ nord, 139° 41′ 30″ est
48° 10′ 47″ nord, 11° 32′ 58″ est
No coordinates span found on the page.
41° 53′ 19″ nord, 12° 29′ 12″ est
60° 10′ 32″ nord, 24° 56′ 03″ est
No coordinates span found on the page.
37° 58′ 00″ nord, 23° 43′ 00″ est
45° 30′ 32″ nord, 73° 33′ 42″ ouest
No coordinates span found on the page.
48° 51′ 24″ nord, 2° 21′ 07″ est
33° 51′ 22″ sud, 151° 11′ 33″ est
52° 22′ 22″ nord, 4° 53′ 37″ est
37° 48′ 51″ sud, 144° 58′ 06″ est
No coordinates span found on the page.
59° 19′ 46″ nord, 18° 04′ 07″ est
33° 45′ 25″ nord, 84° 23′ 25″ ouest
51° 30′ 26″ nord, 0° 07′ 39″ ouest
55° 45′ 09″ nord, 37° 37′ 23,11″ est
22° 54′ 35″ sud, 43° 10′ 35″ ouest
37° 33′ 57″ nord, 126° 58′ 41″ est
27° 28′ 00″ sud, 153° 02′ 00″ est
38° 38′ 53″ nord, 90° 12′ 44″ ouest
No coordinates span found on the page.
No coordinates span found on the page.
51° 13′ nord, 4° 24′ est
No coordinates span found on the page.
No coordinates span found on the page.
39° 54′ 13″ nord, 116° 23′ 15″ est
41° 22′ 57″ nord, 2° 10′ 37″ est
52° 31′ N, 13° 23′ E
34° 03′ nord, 118° 15′ ouest
19° 25′ 10″ nord, 99° 08′ 44″ ouest
No coordinates span found on the page.